.comments {
    max-height: 5rem;
    min-height: 5rem;
}

.card-height-title {
    max-height: 90px;
    min-height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}